body{ margin:0;font-family:Arial,Verdana; }
p{ margin:0; }
label{ font-size:.9em;color:#333; }
#header{ height:43px;width:80%;background:#555;padding:10px 0 0;text-align:center; }
#main{ text-align:center;background:#CBFFFF;padding:20px 0 45px; }
#footer{ background:#888; height:25px; }
.layout{ width:800px; margin:auto; }
input{ height:23px;margin-top:25px; }
input.text{ font-size:16px;padding:3px 6px;width:310 }
input.submit{ width:10px; }
.header p{ color:#fff; font-size:23px; padding:0; }
ul { padding-left: 0px; }
ul li { list-style:none; margin-left:0px;}

.meta { }
.sentiment { color: red; }

.track {  }

#header p { color: white; font-weight:bolder; }